//- div(class='drop_down')
//-     div(id='my_drop_down' class='drop_down_content')
        //- each result in searchResults
        //-     a(class='search-results' id=`add_to_listId_${list.id}`)= list.name
