div.genre_container
    h2.genre_title_movies FavGenre
    div.genre_container_text#list_container
        if faveGenres
            for faveGenre in faveGenres
                for genre in genres
                    if faveGenre.subGenreId === genre.id
                        a= genre.name
                        button#hidden(class=`delete_from_db delete_from_db_${genre.id}`) Delete


        //-     for userInfo in usersInfo[0].SubGenres
        //-         for genre in userInfo
        //-             a= genre.name
    div.edit_favgenre_form#hidden
        form(method="post" action="/home")
            select(name="update").select_option_list
                for genre in genres
                    option(value=genre.id).option_list_dup=genre.name
            button(type="submit").update_btn_edit_form Add
    button.add_to_lists#edit_favgenre_btn Edit
