div.genre_container
    h2.genre_title_movies My FavGenre
    div.genre_container_text#list_container
        if favgenres
        for favgenre in favgenres
            a= favgenre
    div.edit_favgenre_form
        form(method="post" action="/users/id/favegenres/edit")
            for genre in genres
                div
                    input(type="checkbox" name=`subGenreId-${genre.id}` value=`${genre.name}`)
                    label(for=`subGenreId-${genre.id}`)= genre.name
            button(type="submit") Confirm
    button.add_to_lists#edit_favgenre_btn edit
