div.genre_container
    h2.genre_title_movies Genre
    div.genre_container_text
        each genre in subGenres
            a(href=`#${genre.name}`)= genre.name
    img(src="/svg/noun-blood-3576141.svg" ).svgicons
