div.lists_container
    div.list_container
        div.list_header_container
            h3.lists_title My Current List Name
            div
                button Detele List
                button Edit List
        div.movie_container
