div.genre_container
    h2.genre_title_movies Genre
    div.genre_container_text
        a lists
        a lists
        a lists
    div.add_form
        input.list_input_field(type="text")
        button.list_form_btn confirm
    button add
