extends layout.pug

block content
    div.main_container
        include includes/fav-genre-table.pug
        include includes/fav-genre-holder.pug

        script(src='/javascripts/home_dynamic.js' type='module')
