doctype html
html
  head
      block head
        title= title
        link(rel='stylesheet' href='/stylesheets/reset.css')
        link(rel='stylesheet' href='/stylesheets/movies.css')
        link(rel='stylesheet' href='/stylesheets/movie-info.css')
  body
    nav
      a(href="/home") Home
    block content
