doctype html
html
  head
      block head
        title= title
        link(rel='stylesheet' href='/stylesheets/reset.css')
        link(rel='stylesheet' href='/stylesheets/movies.css')
        link(rel='stylesheet' href='/stylesheets/navbar.css')
  body
    header
      div(class='navbar')
          a(id='title' href="/home") GOOD SCREAMS

          nav
            ul
              li
                a(href='/movies' class='click') Movies
              li
                a(href='mymovies' class='click') My Movies
              li
                div(class='search')
                  form(action='')
                    input(class='bar', type="text", name="search", placeholder='Search Movies')
                    button(class='searchbutton')

    block content
