doctype html
html
  head
      block head
        title= title
        link(rel="stylesheet",href="/stylesheets/zombie-font.css",type="text/css",charset="utf-8")
        link(rel='stylesheet' href='/stylesheets/reset.css')
        link(rel='stylesheet' href='/stylesheets/movies.css')
        link(rel='stylesheet' href='/stylesheets/movie-info.css')
        link(rel='stylesheet' href='/stylesheets/navbar.css')
        link(rel="stylesheet", href="/stylesheets/home.css")
        link(rel="stylesheet", href="/stylesheets/lists.css")

  body
    header
      div(class='navbar')
          a(id='title' href="/home") GOOD SCREAMS

          nav
            ul
              li
                a(href='/movies' class='click') Movies
              li
                a(href='/mylists' class='click') My Movies
              li
                div(class='search')
                  form(action='')
                    input(class='bar', type="text", name="search", placeholder='Search Movies')
                    button(class='searchbutton')
              li
                if locals.authenticated
                  form(class='click' action='/users/logout' method='post')
                    button(class='btn' type='submit') LOGOUT
                else
                  span(class='userSpan')
                    a(class='click' href='/users/login') LOG IN
                    a(class='click' href='/users/signup') SIGN UP

    block content
