extends layout.pug

block content
    div.main_container
        include includes/lists-table.pug
        include includes/lists-holder.pug


        script(src='/javascripts/lists_btns.js' type='module')
