link(rel='stylesheet', href='/stylesheets/login.css')
//- img(id='blood-dripping-img' src="../images/blood-dripping.png")
div(class='login-container')
    img(id='blood-dripping-img' src="../images/blood-dripping.png")
    form(action="/users/login" method="post")
        input(type="hidden" name="_csrf" value=csrfToken)
        h2 Log In...
        div(id="email-container")
            label(for="email") Email:
            input(type="email" name="email" id="email" required)
        div(id="pass-container")
            label(for="hashedPassword") Password:
            input(type="password" name="hashedPassword" id="hashedPassword" required)
        div(class="button-container")
            button(id='cancel-button') Cancel
            button(id="login-button") Submit
            button(id='demo-button') Demo
    if errors
        div(id="errors")
            ul
                each error in errors
                    li(class='er')= error

script(src='/javascripts/cancel_btns.js' type='module')
script(src="/javascripts/demo-user.js" type='module')
