extends layout.pug

block content
    div(class='main_container')
        div(class='movie_container')
            div(class='list_button_container')
                button(class='list_button' type='submit') Want To Watch
            div(class='movie_img_container')
                img(class='movie_img' src=movie.posterImg)
            div(class='movie_description_container')
                p(class='movie_title')= movie.name
                p(class='release_date') Release date: April 4
                p(class='movie_rating') Rating #{movie.rating}
                p(class='movie_description') Description Of Movie: Laborum ullamco do aute qui occaecat ipsum velit ea deserunt ea commodo laborum incididunt nostrud. Reprehenderit enim amet aute labore enim duis. Adipisicing Lorem nulla ut ipsum. Nisi incididunt laboris cillum dolore adipisicing sunt fugiat ullamco sunt consequat laboris. Anim pariatur et non magna magna nulla enim. Lorem mollit veniam culpa mollit veniam nostrud ad. Duis ea nostrud culpa excepteur est ullamco ex quis consequat laboris qui aute.
