extends layout


block content
    div(class='form-container')
    h3: em for #{movies.name}
    form(action=`/movies/${movies.id}` method='post')
        input(type="hidden", name="_csrf" value=csrfToken)
        input(type="textarea", name="contents" required)

    div
    span DEEZ NUTS
