@import url(https://fonts.googleapis.com/css?family=Creepster:regular);

.drop_btn:hover{
  background-color: rgb(100, 13, 13);
}

.drop_down {
    display: flex;
    flex-direction: column;
}

.drop_down_content::-webkit-scrollbar{
    background-color: rgb(34, 30, 30);
    border-radius: 4px;
}

.drop_down_content::-webkit-scrollbar-thumb{
    background: black;
    border: white solid .5px;
    border-radius: 4px;
}

.drop_down_content {
    display: none;
    flex-direction: column;
    position: relative;
    background-color: #f1f1f1;
    height: 149px;
    width: 162px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 6px;
    overflow-y: scroll;
}

.drop_down_content a {
    color: black;
    padding: 12px;
    display: flex;
    border-radius: 1px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    justify-content: center;
    text-align: center;
}

.drop_down_content a:hover {
    background-color: black;
    color: white;
    font-size: 18px;
    font-family: 'Creepster';
    letter-spacing: 1.5px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.show {
  display: block;
}
