/* .footer {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    position: absolute;
    width: 100%;
    height: 4rem;
} */

/* content {
    padding-bottom: 4rem;
} */

/* .push {
    padding-bottom: 4rem;
} */

/* footer {
    display: flex;
    position: relative;
    bottom: 0;
    height: 4rem;
    background-color: pink;
    flex: 1 0 auto;
    width: 100%;
    margin-top: 100%;
}

.person-holder {
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    width: 100%;
} */
