section {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.discover-container {
    height: 400px;
    width: 378px;
    background-color: tan;
    /* padding: 5em; */
    position: relative;
    margin: auto;
    /* top: 50%; */
    transform: translate(0, 50%);
    display: flex;
    justify-content: center;
}

.discover-text {
    padding-top: 20px;
    text-align: center;
}

.deez {
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(-100%,20%);
}

.button-list {
    list-style: none;
}

.discover-button {
    padding: 10px 10px;
    margin: 10px 10px;
    width: 100%;
}
