#hidden {
  display: none;
}

.lists_container {
  display: flex;
  flex-direction: column;
  width: 1100px;
}

.list_container {
  display: flex;
  flex-direction: column;
  background-color: black;
  border-radius: 16px;
  height: 1200px;
  padding: 10px;
  margin: 10px;
}
.list_header_container {
  display: flex;
  justify-content: space-between;
}

.lists_title {
  font-family: "Creepster";
  font-size: 30px;
  color: white;
  margin-left: 10px;
}

.add_form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  margin: 10px;
}

.list_input_field {
  width: 140px;
}

.list_form_btn {
  width: 70px;
}

.remove_icon {
  display: flex;
  flex-direction: column;
}

#add-list-btn,
#delete_btn,
#edit_btn,
#confirm_btn,
#rename_btn {
  background-color: #8c4250;
  border: none;
  border-radius: 2px;
  color: white;
  font-family: "Arial, Helvetica, sans-serif";
  font-weight: "bolder";
}

#delete_btn,
#edit_btn {
  margin: 2.5px;
}

#input_content,
#rename_input {
  border-radius: 10px;
  text-align: center;
}

#input_content,
#confirm_btn {
  margin: 2px;
}

#add-list-btn:hover {
  background-color: rgb(100, 13, 13);
}
#delete_btn:hover {
  background-color: red;
}
#edit_btn:hover {
  background-color: rgb(100, 13, 13);
}
#confirm_btn:hover {
  background-color: rgb(100, 13, 13);
}
#rename_btn {
  background-color: rgb(100, 13, 13);
}
