body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  background-color: #0b0b0d;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.login-container {
  width: 400px;
  height: 440px;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-right: 50px;
  padding-left: 50px;
  padding-top: 35px;
  padding-bottom: 0px;
  background-color: #c4c4c4;
  border-radius: 8px;
  /* border: none; */
  border: rgba(139, 16, 16, 0.75) solid 2px;
  box-shadow: 5px 5px 20px rgb(139, 16, 16);
}

h2 {
  padding-top: 50px;
  display: flex;
  justify-content: center;
}

#email-container {
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

#email {
  margin: 10px;
  border-radius: 5px;
  border: 3px solid rgb(55, 5, 61);
  height: 25px;
  width: 216px;
  background-color: rgba(150, 80, 80, 0.75);
}

#hashedPassword {
  margin: 10px;
  border-radius: 5px;
  border: 3px solid rgb(55, 5, 61);
  height: 25px;
  background-color: rgba(150, 80, 80, 0.75);
}

#pass-container {
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-container {
  display: flex;
  justify-content: center;
  flex-direction: row-reverse;
  padding-bottom: 10px;
}

#cancel-button {
  width: 120px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
  font-weight: bold;
  margin-top: 10px;
  padding: 8px;
  margin-right: 10px;
  align-self: center;
  justify-self: center;
  border-radius: 5px;
  background-color: #800000;
  border-color: #800000;
  /* border-color: #682020;
  background-color: #682020; */
  box-shadow: 2px 2px 2px black;
}

#cancel-button:hover {
  /* background-color: rgb(122, 12, 12);
  border-color: rgb(122, 12, 12); */
  background-color: #400000;
  border-color: #400000;
  color: white;
}

#login-button {
  width: 120px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  color: white;
  margin-top: 10px;
  padding: 8px;
  margin-left: 10px;
  align-self: center;
  justify-self: center;
  border-radius: 5px;
  background-color: #2e1d4d;
  border-color: #2e1d4d;
  /* background-color: #03342e;
  border-color: #03342e; */
  /* background-color: #004e48;
  border-color: #004e48; */
  /* border-color: rgba(83, 56, 102, 1);
  background-color: rgba(83, 56, 102, 1); */
  /* border-color: rgba(83, 56, 102, 0.842);
  background-color: rgba(83, 56, 102, 0.96); */
  box-shadow: 2px 2px 2px black;
}

#login-button:hover {
  background-color: #38082a;
  border-color: #38082a;
  /* background-color: #03211c;
  border-color: #03211c; */
  /* background-color: rgb(55, 5, 61);
  border-color: rgb(55, 5, 61); */
  color: white;
}

.other-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  /* left: 0px; */
  bottom: 0px;
  width: 400px;
}

.redirect-container {
  display: flex;
  flex-direction: column;
  /* position: absolute; */
  padding: 5px;
  /* margin-bottom: 5px; */
  width: 150px;
}

p {
  width: 140px;
  margin: 2px;
  padding: 5px;
  font-size: 14px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  display: flex;
  justify-content: center;
  border-radius: 8px;
}

#sign-up-redirect-button {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  color: white;
  margin-top: 0px;
  padding: 3px;
  font-size: 11px;
  border-radius: 5px;
  /* background-color: rgb(51, 102, 49); */
  /* background-color: #800000;
  border-color: #800000; */
  /* background-color: #282842;
  border-color: #282842; */
  border-color: #682020;
  background-color: #682020;
  box-shadow: 2px 2px 2px black;
}

#sign-up-redirect-button:hover {
  background-color: #400000;
  border-color: #400000;
  color: white;
}

#sign-up-redirect-link {
  text-decoration: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  color: white;
}

#demo-button {
  margin-top: 5px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  font-size: 11px;
  color: white;
  padding: 3px;
  border-radius: 5px;
  background-color: #353555;
  border-color: #353555;
  /* background-color: #014e48;
  border-color: #014e48; */
  /* border-color: rgba(48, 23, 138, 0.842); */
  /* border-color: rgba(43, 21, 124, 0.842); */
  box-shadow: 2px 2px 2px black;
}

#demo-button:hover {
  background-color: #38082a;
  border-color: #38082a;
  /* background-color: #22061a;
  border-color: #22061a; */
  /* background-color: rgb(21, 9, 73);
  border-color: rgb(21, 9, 73); */
  /* background-color: #03211c;
  border-color: #03211c; */
  color: white;
}

#blood-dripping-img {
  position: absolute;
  top: 0px;
  width: 500px;
  height: auto;
  z-index: 100;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

#errors {
  position: absolute;
  width: 240px;
  right: 520px;
  font-size: 18px;
  color: rgb(139, 16, 16);
  background-color: #c4c4c4;
  border-radius: 8px;
  border: rgba(139, 16, 16, 0.75) solid 1px;
  box-shadow: 5px 5px 20px rgb(139, 16, 16);
}

.er {
  padding: 10px;
}
