@import url('https://fonts.googleapis.com/css2?family=Creepster&display=swap');
html,
body {
    height: 100vh;
}

body {
  margin: 0;
  /* background-color: lightgrey; */
  background-color: #0b0b0d;
}

.full-container {
    position: relative;
    min-height: 100vh;
}

.holder {
padding-bottom: 3rem;
}

header {
  background-color: #590202;
  height: 4em;
  font-family: "Creepster";
}

.navbar {
  /* display: flex; */
  width: 90%;
  /* align-items: center; */
  /* justify-content: space-evenly; */
  /* padding: 20px; */
  color: white;
  margin: 0 auto;
}

footer {
    display: flex;
    position: absolute;
    bottom: 0;
    height: 3rem;
    background-color: #0b0b0d;
    flex: 1 0 auto;
    width: 100%;
}

.person-holder {
    text-decoration: none;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin-top: 8px;
}

a {
  text-decoration: none;
}

#title {
  /* font-size: 32px; */
  font-size: 70px;
  float: left;
  padding: 3px 0;
  -webkit-text-stroke: 1px black;
  font-family: "zombies_rebornregular";
}

nav {
  float: right;
  margin-right: 5%;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 40px;
  padding-top: 20px;
  position: relative;
}

.bar {
  border: auto;
  border-radius: 10px;
  text-align: center;
  height: auto;
}

span a {
  padding: 10px;
}

.click:hover {
  color: white;
  transition: all 0.25s ease;
  animation: drip 2s forwards;
}

@keyframes drip {
  to {
    text-shadow: 2px 4px 1px #0d0d0d, 2px 6px 1px #171717, 2px 8px 1px #262626,
      2px 10px 1px #363636, 2px 12px 1px #595959, 2px 12px 1px #595959,
      2px 16px 1px #666666, 2px 18px 1px #737373, 2px 20px 1px #878787,
      2px 22px 1px #bfbfbf;
  }
}

.drop {
    font-family: "Creepster";
    background-color: #0b0b0d;
    color: white;
    border: none;
    padding: 8px;
    font-size: 16px;
}

.dropmenu {
    position: relative;
    display: inline-block;
}

.drop-content {
    font-family: "Creepster";
    display: none;
    position: absolute;
    background-color: #f1f1f1;
}

.drop-content a {
    color: black;
    padding: 10px;
    text-decoration: none;
    display: block;
    font-size: small;
}

.drop-content a:hover {
    background-color: #ddd;
}

.dropmenu:hover .drop-content {
    display: inline-block;
}

.github-picture {
  height: 25px;
  width: 25px;
  margin-top: 5px;
}

.search {
  border-radius: 0%;
}
