@import url(https://fonts.googleapis.com/css?family=Acme:regular);

html {
    background-color: #1e1e20;
}

.main_container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 782px;
}



.movie_container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 834px;
    height: 420px;
    background-color: pink;
    border: 2px solid black;
    border-radius: 5px;
}

.movie_img_container {
    margin: 3px;
    padding: 5px;
    background-color: hotpink;
    position: relative;
    bottom: 40px;
    right: 45px;
}


.movie_img{
    width: 162.15px;
    height: 230px;
    border-radius: 8px;
}

.movie_rating {
    font-family: 'Acme';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    margin: 5px;
    color: #FFFFFF;
}

.movie_title {
    color: white;
    font-family: 'Acme';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    margin: 5px;
}

.release_date {
    font-family: 'Acme';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    margin: 5px;
    color: #FFFFFF;
}

.movie_description {
    font-family: 'Acme';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
    margin: 5px;
}

.movie_description_container {
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items:start;
    justify-content:flex-start;
    background-color: hotpink;
    margin: 3px;
    padding: 3px;
    width: 471px;
    height: 327px;
}

.list_button_container {
    position: absolute;
    width: 146px;
    height: 31px;
    left: 278.5px;
    top: 524px;
    margin: 5px;
    background: 8C4250;
}
