body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  background-color: #0b0b0d;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.signup-container {
  width: 400px;
  height: 470px;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-right: 50px;
  padding-left: 50px;
  padding-top: 35px;
  background-color: #c4c4c4;
  border-radius: 8px;
  border: rgba(139, 16, 16, 0.8) solid 2px;
  box-shadow: 5px 5px 20px rgb(139, 16, 16);
}

h2 {
  padding-top: 50px;
  display: flex;
  justify-content: center;
}

#firstname-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-weight: bold;
}

#firstName {
  margin: 10px;
  border-radius: 5px;
  border: 3px solid rgb(55, 5, 61);
  height: 25px;
  width: 242px;
  background-color: rgba(150, 80, 80, 0.75);
}

#lastname-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-weight: bold;
}

#lastName {
  margin: 10px;
  border-radius: 5px;
  border: 3px solid rgb(55, 5, 61);
  height: 25px;
  width: 245px;
  background-color: rgba(150, 80, 80, 0.75);
}

#email-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-weight: bold;
}

#email {
  margin: 10px;
  border-radius: 5px;
  border: 3px solid rgb(55, 5, 61);
  height: 25px;
  width: 292px;
  background-color: rgba(150, 80, 80, 0.75);
}

#pass-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-weight: bold;
}

#hashedPassword {
  margin: 10px;
  border-radius: 5px;
  border: 3px solid rgb(55, 5, 61);
  width: 254px;
  height: 25px;
  background-color: rgba(150, 80, 80, 0.75);
}

#passconf-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-weight: bold;
}

#confirmPassword {
  margin: 10px;
  border-radius: 5px;
  border: 3px solid rgb(55, 5, 61);
  height: 25px;
  background-color: rgba(150, 80, 80, 0.75);
}

.button-container {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row-reverse;
}

#cancel-button {
  width: 120px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
  font-weight: bold;
  margin-top: 10px;
  padding: 8px;
  margin-right: 10px;
  align-self: center;
  justify-self: center;
  border-radius: 5px;
  background-color: #800000;
  border-color: #800000;
  box-shadow: 2px 2px 2px black;
}

#cancel-button:hover {
  background-color: #400000;
  border-color: #400000;
  color: white;
}

#signup-button {
  width: 120px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  color: white;
  margin-top: 10px;
  padding: 8px;
  margin-left: 10px;
  align-self: center;
  justify-self: center;
  border-radius: 5px;
  background-color: #2e1d4d;
  border-color: #2e1d4d;
  box-shadow: 2px 2px 2px black;
}

#signup-button:hover {
  background-color: #38082a;
  border-color: #38082a;
  color: white;
}

#blood-dripping-img {
  position: absolute;
  top: 0px;
  width: 500px;
  height: auto;
  z-index: 100;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

#errors {
  position: absolute;
  width: 300px;
  right: 520px;
  margin-bottom: 20px;
  font-size: 18px;
  color: rgb(139, 16, 16);
  background-color: #c4c4c4;
  border-radius: 8px;
  border: rgba(139, 16, 16, 0.75) solid 1px;
  box-shadow: 5px 5px 20px rgb(139, 16, 16);
  box-sizing: border-box;
}
